@model IEnumerable<BusShuttleWeb.Models.StopViewModel>
    @{
    ViewData["Title"] = "Stop";
    }

    <div class="text-center">
        <h1 class="display-4">Stops</h1>
    </div>

    <style>
        .button-container {
            display: flex;
            margin-top: 100px;
        }

        .button {
            width: 150px;
            height: 50px;
            margin: 25px;
            font-size: 18px;
            border: none;
            background-color: #010801;
            color: white;
            cursor: pointer;
            border-radius: 8px;
            align-content: center;
            text-align: center;
        }

        a {
            color: green;
        }

        a:hover {
            color: green;
        }
    </style>

    <div class="button-container">
        <a asp-action="StopCreate" class="button">Create new stop</a>
    </div>

    <table class="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="StopEdit" asp-route-id="@item.Id">Edit</a>
                    <form method="post" action='@Url.Action("StopDelete", "Home")'>
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        <button style="background-color:red;color:white;" type="submit">Delete Stop</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
